
.card-title{
    font-size: 12vw !important;
}
.about-title{
    text-align: center;
    display: inline;
    align-self: flex-end;
}

.star{
    width: 25%;
    place-self: center;
}

.p-content {
    padding-left: 10%;
    padding-right: 10%;
}

.banner-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}



.footer-icon{
object-fit: cover;
width: 40px;
}

.youtube{
height: 40px;

}

:root {    
    --bs-primary-rgb: 207,179, 191;
    --bs-primary-text-emphasis: #624966;
    --bs-bg-dark: #2F2A27;
}
@font-face { 
    font-family: 'DreamerBold';
    src: url('fonts/DreamerBold.ttf') format('truetype');
}

.navbar-brand {
    padding-left: 2%;
}
.active { 
    color: #624966;
}
html{
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    background-color: lightgrey;
}


.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "mrs-eaves-roman-all-small-ca", serif;
}


.about{
    flex-grow: 1;
}

.card-text {
    font-size: larger;
}

.card-title {
    font-weight: 900;
    font-size: 4em;
}

.card-img {
    position: relative; 
}

.card-img-overlay {
    position:absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    opacity: 60%;
    background-color: black; 
    z-index: 1;
}

.testimonial { 
    font-size: 1.5em;
}

.text-container {
    width: 80%;
    position: absolute;
}
.footer {
    padding-top: .5em;
    padding-bottom: .2em;
}

.text-center {
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 5%;
}


@include media-breakpoint-up(sm) { 
    h2{
    font-size: 1em;
    }
}
h2, h3{ 
    font-family: dreamer;
}

.title {
    padding-top: 5%;
}
.copywrite {
    padding-left: 5%;
    display: grid;
}
.copywrite p{
margin: 0;
align-self: center;
}

#contact-us{ 
 border-radius: 50px;
 background-color:#2F2A27;
 margin: 10%;
}

#contact-us > a { 
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-family: "mrs-eaves-roman-all-small-ca", serif;
    font-weight: 400;
    font-style: normal;
}
#form-contact-us { 
    border-radius: 50px;
    background-color:#2F2A27;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-family: "mrs-eaves-roman-all-small-ca", serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.nav-link {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .nav-link:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #624966;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .nav-link:hover:before, .nav-link:focus:before, .nav-link:active:before {
    right: 0;
  }
.portfolio{
    display: grid;
    justify-content: center;
    margin: 20px;
}

.portfolio-images{

 width: 100%;
 display: flex;
 flex-wrap: wrap;
 gap: 10px;
 justify-content: center;  
} 

.portfolio-images img{  
    width: 100%;
}

.portfolio-images picture{
    transition: all 300ms ease-out;
}


.portfolio-images > picture:hover{
    transform: scale(1.2);
}







