

.card-title{
    font-size: 12vw !important;
}
.about-title{
    text-align: center;
    display: inline;
    align-self: flex-end;
}

.star{
    width: 25%;
    place-self: center;
}

.p-content {
    padding-left: 10%;
    padding-right: 10%;
}

.banner-img{
    object-fit: cover;
}




.footer-icon{
object-fit: cover;
width: 50px;
}

.youtube{
height: 50px;
}

:root {
    --bs-primary: #A06C82;
    --bs-secondary: #F9F8DC;
    --bs-primary-rgb: 160,108, 130;
    --bs-secondary-rgb: 253, 255, 132;
    --bs-primary-text-emphasis: #624966;
    --bs-secondary-text-emphasis: #FDFF84;
    --bs-bg-primary: #A06C82;
    --bs-primary-subtle: #DDB8D7;
    --bs-primary-bg-subtle: #DDB8D7;
    --bs-secondary-bg: #FDFF84;
    --bs-secondary-bg-subtle: rgb(249, 248, 220);
    --bs-primary-border-subtle: #DDB8D7;
    --bs-secondary-border-subtle: #FFDE98;
    --bs-bg-secondary: #F9F8DC;
    --bs-bg-light: #FAF8F9;
    --bs-link-color-rgb: 118, 61, 101;
    --bs-bg-dark: #2F2A27;
}
@font-face { 
    font-family: 'DreamerBold';
    src: url('fonts/DreamerBold.ttf') format('truetype');
}

.navbar-brand {
    padding-left: 2%;
}
.active { 
    color: #624966;
}
html{
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    background-color: lightgrey;
}

.about{
    flex-grow: 1;
}



.card-title {
    font-weight: 900;
    font-size: 4em;
}

.card-img {
    position: relative; 
}

.card-img-overlay {
    position:absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    opacity: 60%;
    background-color: black; 
    z-index: 1;
}

.testimonial { 
    font-size: 1.5em;
}

.text-container {
    width: 80%;
    position: absolute;
}
.footer {
    padding-top: .5em;
    padding-bottom: .2em;
}

.text-center {
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 5%;
}


@include media-breakpoint-up(sm) { 
    h2{
    font-size: 1em;
    }
}
h2, h3{ 
    font-family: dreamer;
}
.copywrite {
    padding-left: 5%;
    display: grid;
}
.copywrite p{
margin: 0;
align-self: center;
}

#contact-us{ 
 border-radius: 50px;
 background-color:#2F2A27;
 margin: 10%;
}

#contact-us > a { 
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-family: "mrs-eaves-roman-all-small-ca", serif;
    font-weight: 400;
    font-style: normal;
}